.presenttotal{
    grid-area: 4/4/span 1/ span 1;
    font-size: 20px;
    border-top: solid;
    padding-top: 5%;
}

.totalnumber{
    color: "red";
}

@media (max-width: 1024px){ 

   .presenttotal{
    border-top: none;
    padding-top: 0%;
    
    grid-area: 2/1/span 1/ span 1;
    margin-left: auto;
    margin-right: 10px;
    
   }
}