.no-scroll {
    overflow-y: hidden !important;
}


#root {
    max-width: 1920px;
    min-height: 1080px;
    margin-left: auto;
    margin-right: auto;
}

*:not(h1):not(h1):not(h2):not(h3) {
    margin:0px;
    padding:0px;
    font-family: Comic Sans MS;
    font-size: 100%;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}